#game-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    background-color: white;
    z-index: 1;
}

#game-container.closed{
    visibility: hidden;
}

#game-container.open{
    visibility: visible;
}

.player-board{
    min-width: 600px;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.player-board .player{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    background-color: black;
}

.player-board .player > *{
    flex:1;
}
.player-board .player h2{
    width: 100%;
    background-color: rgb(29, 248, 175);
    text-align: center;
    padding: 10px;
    flex-basis: 80px;
    flex-grow: 0;
    
}

.ready-btn-div{
    background-color: black;
    width: 100%;
    padding:5px;
    margin-bottom: auto;
    display: flex;
    align-items: flex-end;   
}

.ready-btn{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 9px #999;
}



.ready-btn.unready{
    background-color: #c20404;
}

.ready-btn.ready{
    background-color: #04AA6D;
}

.ready-btn.your-btn {
    cursor: pointer;
}

.ready-btn.your-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.canvas-container {
    margin: 50px;
    align-self: auto;
}



.colorpicker-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color:white;
    padding: 10px;
}
.winning-points-div,.max-duration-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    color:white;
    padding:10px;
    align-items: center;
    justify-content: space-between;
}
.winning-points-div input,.max-duration-div input{
    width: 40px;
    height: 30px;
}

.player div.points{
    width: 100%;
    font-size: 6.5em;
    color:white;
    background-color: rgb(1, 75, 109);
    text-align: center;
    flex-basis: 160px;
    flex-grow: 0;
}

#clock{
    position: absolute;
    top:0px;
    right:50%;
    transform: translateX(50%);
    background-color: black;
    color:white;
    font-size: 3em;
    padding:10px;
    padding-top:3px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}