*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
    text-align: center;
}

main{
    display: flex;
}

.online-players-container{
    background-color: black;
    border-radius: 15px;
    color:white;
    height:400px;
    width:40%;
    padding: 5px;
    padding-right: 10px;
}

.online-players-container h2{
    display: flex;
    align-items: center;
}

.green-circle{
    margin-right:15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(8, 255, 8);
}

.players-lobby{
    margin-top:20px;
}

.players-lobby .player{
    background-color: blue;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.players-lobby .player .controls{
    display: flex;
    visibility: hidden;
}

.players-lobby .player .controls > *{
    margin-right: 10px;
}

.players-lobby .player:hover{
    background-color: lightblue;

}

.players-lobby .player:hover .controls{
    visibility: visible;
}

.controls > div{
    width: 20px;
    height: 20px;
    transition: all 0.1s;
}

.controls > div:hover{
    transform: scale(1.2);
}

.chat-container{
    background-color: red;
    border-radius: 15px;
    color:white;
    height:400px;
    width:40%;
    padding: 8px;
}

.chat-container h2{
    text-align: center;
}

.messages-container{
    background-color: black;
    height: 80%;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.message-div{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    margin:5px 0;
    min-width: 100px;
}

.message-div .name{
    font-size: 0.7em;
}

.type-message-container{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.type-message-container > input{
    flex: 1
}

#send-msg-btn{
    background-color: black;
    padding: 10px;
    transition: all 0.1s;
}

#send-msg-btn:hover{
    cursor: pointer;
    background-color: grey;
}

.myMsg{
    align-self: flex-end;
    background-color: rgb(8, 197, 8);
}

.disabled-play-btn{
    cursor: initial;
    fill: white;
}


.game-requests-container{
    position: fixed;
    color:white;
    bottom:0;
    left:50%;
    background-color: black;
    transform: translateX(-50%);
    
} 

.game-requests-container .game-request-div{
    width: 500px;
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-btns{
    display: flex;
    align-items: center;
}

.game-btns > div{
    cursor: pointer;
    transition: all 0.3s;
}


.game-btns > div:hover{
    transform: scale(1.3);
}

.accept-game-btn svg{
    fill: green;
    width: 32px;
    height: 32px;
}
.decline-game-btn svg{
    fill: red;
    width: 48px;
    height: 48px;
}